body {
  background: url("/background.jpg") no-repeat center center fixed;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.contestCard {
  height: 400px;
  width: 700px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -350px;
  position: fixed;
}

.contestTitle {
  margin: 4px;
  padding: 4px 4px 4px 12px;
  background-color: #f5fcfd;
}

.contestTime {
  margin-top: 60px;
  color: #035463;
  text-align: center;
}

.remainingTime {
  color: #460303;
  font-size: 72px;
  font-weight: bold;
}

.questionDiv {
  margin: 18px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  background-color: #f5fcfd;
  padding: 4px 4px 4px 12px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.secondRemaining {
  color: #460303;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 18px;
}

.answers {
  text-align: center;
  margin: 24px;
}

.answerText {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}

.falseButton { 
  background-color: #bf2727 !important;
}

.trueButton {  
  background-color: #016d0f !important;
}

.usernamePaper {
  padding: '5px 4px';
  display: 'flex';
  align-items: 'center';
  width: 400;
}

.usernameInput {
  margin-left: 8;
  flex: 1;
  padding: 2px;
}

.divider {
  width: 1;
  height: 28;
  margin: 4;
}

.usernameButton{
float:right;
}