body {
	background: url('/background_1.png') no-repeat;
	background-size: cover;
	font-family: 'Roboto';
	font-size: 14px;
	margin: 0 !important;
}

.contestCard {
	height: 600px;
	width: 700px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -350px;
	position: fixed;
	border-radius: 40px !important;
}

.cardItems {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 80px 0 80px;
}

.contestTitle {
	margin: 4px;
	padding: 4px 4px 4px 12px;
	font-size: 45px;
	font-weight: bold;
	color: #32a45c;
	text-align: center;
}

.contestInfo {
	text-align: center;
	color: #707070;
	margin-bottom: 30px;
}

.contestTime {
	margin-top: 30px;
	border: 2px solid #36a35c;
	border-radius: 6px;
}

.contestTimeTitle {
	font-size: 22px;
	color: #fefefe;
	background-color: #36a35c;
	border-radius: 2px;
	height: 40px;
	text-align: center;
	padding-top: 12px;
}

.contestTimeStartDate {
	font-size: 22px;
	color: #707070;
	height: 40px;
	text-align: center;
	padding-top: 12px;
}

.remainingTime {
	color: #460303;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}

.flexContainer {
	display: flex;
	justify-content: center;
}

.progressBarText {
	font-weight: bold;
	color: #32a45c;
}

.progressBarDiv {
	width: 300px;
	border: 10px solid #b7e4c9;
	height: 0px;
	margin: 0 40px 0 40px;
	border-radius: 12px;
}

.progressBarTimeDiv {
	box-shadow: 0px 3px 3px #00000043;
	border: 10px solid #2ea55c;
	height: 0px;
	width: 0px;
	z-index: 1000;
	border-radius: 12px;
	margin: -10px;
}

.questionDiv {
	margin: 18px;
}

.question {
	font-size: 24px;
	font-weight: bold;
	padding: 4px 4px 4px 12px;
	margin-top: 60px;
	margin-bottom: 18px;
	color: #707070;
	text-align: center;
}

.secondRemaining {
	color: #460303;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 18px;
}

.answers {
	text-align: center;
	margin: 24px;
}

.answerButton {
	font-size: 16px;
	text-transform: none;
	color: #707070;
	border: 2px solid #36a35c;
	border-radius: 25px;
	background-color: #ffffff;
	width: 512px;
	height: 72px;
	text-align: left;
	padding-left: 24px;
	cursor: pointer;
}

.answerButton.hover,
.answerButton:hover {
	background-color: #e4e4e4;
}

.answerButton.focus,
.answerButton:focus {
	outline: 0;
	box-shadow: none !important;
}

.selectedAnswer {
	color: #ffffff !important;
	border: 2px solid #707070 !important;
	background-color: #707070 !important;
}

.falseButton {
	border: 2px solid #d60000 !important;
	background-color: #d60000 !important;
	color: #ffffff !important;
}

.trueButton {
	border: 2px solid #32a45c !important;
	background-color: #32a45c !important;
	color: #ffffff !important;
}

.usernamePaper {
	padding: '5px 4px';
	display: 'flex';
	align-items: 'center';
	width: 400;
	margin-left: 5px;
}

.usernameInput {
	margin-left: 8;
	flex: 1;
	padding: 6px;
}

.divider {
	width: 1;
	height: 28;
	margin: 4;
}

.usernameButton {
	float: right;
	padding-top: 2px;
}

.flexContainer {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.resultMain {
	background: url('/resultBackground.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.resultHalfDiv {
	width: 50%;
	height: 100%;
}

.resultMadal {
	background: url('/winMadal.png') bottom no-repeat;
	background-size: 50%;
}

.resultItems {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contestCompleted {
	width: 641px;
	height: 161px;
	background: url('/contestCompleted.png') bottom no-repeat;
}

.resultMainText {
	font-size: 48px;
	font-weight: bold;
	color: #fefefe;
}

.incorrectAnswer {
	height: 100%;
	font-size: 32px;
	color: #D80000;
	font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 300px;
    justify-content: center;
	background: url('/incorrectAnswer.png') bottom no-repeat;
	background-size: contain;
}

.incorrectBarText {
	font-weight: bold;
	color: #D80000;
}

.marginTop10 {
	margin-top: 10px;
}