html  
    head
        title Kale Yazılım - Yeşil Ofis
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', media='all', href='https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap')
        link(rel='stylesheet', media='all', href='styles/all.css')
        link(rel='stylesheet', media='(min-width: 640px)', href='styles/min-640px.css')  
        link(rel='stylesheet', media='(max-width: 640px)', href='styles/max-640px.css')
       
    body
        script
            include script.js
        #app