body {
	background: url('/images/bg.jpg') no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0 !important;
}

.contestInfo {
	text-align: center;
	color: #707070;
	margin-bottom: 30px;
}

.contestTime {
	margin-top: 30px;
	border: 2px solid #36a35c;
	border-radius: 6px;
}

.contestTimeTitle {
	font-size: 22px;
	color: #fefefe;
	background-color: #36a35c;
	border-radius: 2px;
	height: 40px;
	text-align: center;
	padding-top: 12px;
}

.contestTimeStartDate {
	font-size: 22px;
	color: #707070;
	height: 40px;
	text-align: center;
	padding-top: 12px;
}

.remainingTime {
	color: #460303;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}

.progressBarDiv {
	border: 10px solid #b7e4c9;
	border-radius: 12px;
}

.progressBarTimeDiv {
	box-shadow: 0px 3px 3px #00000043;
	border: 10px solid #2ea55c;
	height: 0px;
	width: 0%;
	z-index: 1000;
	border-radius: 12px;
	margin: -10px;
}

.incorrectBarText {
	font-weight: bold;
	color: #D80000;
	text-align: center;
}

.answers {
	text-align: center;
	margin: 24px;
}

.answerButton {
	font-size: 16px;
	text-transform: none;
	color: #707070;
	border: 2px solid #36a35c;
	border-radius: 25px;
	background-color: #ffffff;
	width: 100%;
	height: 72px;
	text-align: left;
	padding-left: 24px;
	cursor: pointer;
}

.answerButton.hover,
.answerButton:hover {
	background-color: #e4e4e4;
}

.answerButton.focus,
.answerButton:focus {
	outline: 0;
	box-shadow: none !important;
}

.selectedAnswer {
	color: #ffffff !important;
	border: 2px solid #707070 !important;
	background-color: #707070 !important;
}

.falseButton {
	border: 2px solid #d60000 !important;
	background-color: #d60000 !important;
	color: #ffffff !important;
}

.trueButton {
	border: 2px solid #32a45c !important;
	background-color: #32a45c !important;
	color: #ffffff !important;
}

.answerInfo {
	font-size: 12px;
	text-align: center;
}

.resultMain {
	background: url('/images/resultBackground.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.marginTop10 {
	margin-top: 10px;
}

.marginTop20 {
	margin-top: 20px;
}

.marginAuto {
	margin: auto;
}

.textAlignCenter {
	text-align: center;
}

.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

.copyRightCard {
	margin-top: 12px;
	border-radius: 40px !important;
}

.copyRightCardContent {
	padding: 12px !important;
	text-align: center;
	font-size: 11px;
	display: flex;
	justify-content: center;
	color: #707070;
}