.contestCard {
	border-radius: 10px !important;
}

.contestTitle {
	font-size: 32px;
	font-weight: bold;
	color: #32a45c;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.progressBarText {
	font-weight: bold;
	font-size: 14px;
	color: #32a45c;
	text-align: center;
}

.progressBarAnswerCountText {	
	color: #32a45c;
	text-align: center;
	font-size: 14px;
}

.progressBarTimeText {
	font-weight: bold;
	font-size: 32px;
	color: #32a45c;
	text-align: center;
}

.question {
	font-size: 24px;
	font-weight: bold;
	margin-top: 24px;
	color: #707070;
	text-align: center;
}

.resultMadal {	
    background: url(/images/resultBgMax640.png) no-repeat;
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.resultListSide {
	height: 60vh;
	text-align: center;
}

.resultMain {
	background-color: #fefefe;
	width: 100%;
	height: 100%;
}

.resultMainGrid {
	min-height: 100vh;
}

.resultMainText {
  	overflow-x: hidden;
  	overflow-y: auto !important;
  	height: auto;
  	max-height: calc(60vh - 300px);
  	font-size: 24px;
	font-weight: bold;
	color: #32a45c;
}

.resultMainText::-webkit-scrollbar-track,
.resultMainText::-webkit-scrollbar-thumb {
  border: 10px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}

.resultMainText::-webkit-scrollbar-track {
  background-color: #ccc;
}

.resultMainText::-webkit-scrollbar-thumb {
  background-color: #00243e;
}

.resultMainText::-webkit-scrollbar-thumb:hover {
  border: 10px solid rgba(255, 255, 255, 0);
}