.contestCard {
	border-radius: 40px !important;
}

.contestTitle {
	font-size: 45px;
	font-weight: bold;
	color: #32a45c;
	text-align: center;
}

.progressBarText {
	font-weight: bold;
	color: #32a45c;
	text-align: center;
}

.progressBarAnswerCountText {	
	color: #32a45c;
	text-align: left;
	font-size: 13px;
}

.progressBarTimeText {
	font-weight: bold;
	font-size: 24px;
	color: #32a45c;
	text-align: right;
}

.question {
	font-size: 24px;
	font-weight: bold;
	margin-top: 48px;
	color: #707070;
	text-align: center;
}

.resultMadal {
	background: url('/images/winMadal.png') bottom no-repeat;
	background-size: 50%;
	height: 100vh;
}

.resultListSide {
	min-height: 100vh;
	padding-top: 40vh;
	text-align: center;
}

.resultMainText {
  	overflow-x: hidden;
  	overflow-y: auto !important;
  	height: auto;
  	max-height: calc(40vh);
  	font-size: 32px;
	font-weight: bold;
	color: #fefefe;
}

.resultMainText::-webkit-scrollbar-track,
.resultMainText::-webkit-scrollbar-thumb {
  border: 10px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}

.resultMainText::-webkit-scrollbar-track {
  background-color: #ccc;
}

.resultMainText::-webkit-scrollbar-thumb {
  background-color: #00243e;
}

.resultMainText::-webkit-scrollbar-thumb:hover {
  border: 10px solid rgba(255, 255, 255, 0);
}