.contestCard {
	border-radius: 40px !important;
}

.contestTitle {
	font-size: 42px;
	font-weight: bold;
	color: #32a45c;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.progressBarText {
	font-weight: bold;
	color: #32a45c;
	text-align: center;
}

.progressBarAnswerCountText {	
	color: #32a45c;
	text-align: left;
	font-size: 13px;
}

.progressBarTimeText {
	font-weight: bold;
	font-size: 24px;
	color: #32a45c;
	text-align: right;
}

.question {
	font-size: 24px;
	font-weight: bold;
	margin-top: 48px;
	color: #707070;
	text-align: center;
}

.resultMadal {
	z-index: 0;
	height: 100vh;
}

.resultListSide {
	min-height: 100vh;
	padding-top: 10vh;
	text-align: center;
}

.resultMain {
	background-color: #fefefe;
	width: 100%;
	height: 100%;
}

.resultMainGrid {
	background: url(/images/resultBgMin640.png) no-repeat center center fixed;
    background-size: initial;
	background-position: right;
	min-height: 100vh;
}

.resultMainText {
  	overflow-x: hidden;
  	overflow-y: auto !important;
  	height: auto;
  	max-height: calc(90vh - 300px);
  	font-size: 32px;
	font-weight: bold;
	color: #32a45c;
}

.resultMainText::-webkit-scrollbar-track,
.resultMainText::-webkit-scrollbar-thumb {
  border: 10px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
}

.resultMainText::-webkit-scrollbar-track {
  background-color: #ccc;
}

.resultMainText::-webkit-scrollbar-thumb {
  background-color: #00243e;
}

.resultMainText::-webkit-scrollbar-thumb:hover {
  border: 10px solid rgba(255, 255, 255, 0);
}